
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    right: 0;
    z-index: 2;
}

.main-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10%;
}

.socials{
    display: flex;
    justify-content: center;
    width: 450px;
    margin-bottom: 8%;
    filter: invert(1);

}

.socials li, img{
    list-style: none;
    width: 25px;
    height: 25px;
    margin: 15px;
    border-radius: 50%;
}

.name{
    font-size: xx-large;
    font-family: 'Dancing Script', sans-serif;
    font-size: 3.9rem;
    color: white
}

.container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(13, 1, 20, 0.7);
    z-index: -90;
}

.menu{
    position: absolute;
    bottom: 40%;
    right: 4%;
}

.menu li, a{
    color: white;
    list-style: none;
    text-decoration: none;
    text-align:end;
    font-family:'Poppins',Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .name {
        font-size: 24px;
        text-align: center;
    }

    .menu{
        position: absolute;
        top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .menu li a{
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 601px) {
    .name {
        font-size: 34px;
        text-align: center;
    }
}

@media only screen and (min-width: 850px) {
    .name{
        font-size: xx-large;
        font-family: 'Dancing Script', sans-serif;
        font-size: 3em;
        color: white
    }
}